@use 'variaveis.scss';



body {
    font-family: "Roboto", system-ui;
    margin: 0;
    padding: 0;
}

.primary-section {
    width: 100%;
    height: 313px;
    background-color: variaveis.$secondary-color;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .section-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        max-width: 776px;
        margin: 0 auto;
    }

    img {
        width: 250px;
        height: 313px;
        margin-right: 20px;
    }

    .text-content {
        flex: 1;
        color: variaveis.$primary-color;
        text-align: right;
    }

    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
    }

    p {
        margin: 10px 0 0;
        font-size: 16px;
    }
}

.especialistas-section {
    text-align: center;
    padding: 50px 20px;
    background-color: variaveis.$cor-alternativa;

    h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
        color: variaveis.$primary-color;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        justify-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .especialista {
        background-color: variaveis.$secondary-color;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;

        img {
            max-width: 100%;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.1em;
            color: variaveis.$text-color;
        }

        p:first-of-type {
            font-weight: bold;
        }

        .especialidade {
            font-size: 0.9em;
            color: #777;
        }
    }
}

.feedback {
    text-align: center;
    padding: 50px 20px;
    background-color: variaveis.$cor-alternativa;


    h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
        color: variaveis.$primary-color;
    }

    .comentarios-container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .comentario {
        display: flex;
        background-color: variaveis.$corbranco;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        align-items: center;
        width: 45%;
        box-sizing: border-box;
    }

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .comentario-text {
        text-align: left;

        h2 {
            margin: 0;
            font-size: 1.2em;
            color: variaveis.$primary-color;
        }

        p {
            margin-top: 5px;
            font-size: 1em;
            color: variaveis.$text-color;
        }
    }
}

.formulario {
    text-align: center;
    padding: 50px 20px;
    background-color: variaveis.$cor-alternativa;

    h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
        color: variaveis.$primary-color;
    }

    .form-container {
        background-color: variaveis.$secondary-color;
        padding: 30px;
        border-radius: 8px;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        text-align: left;

        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: variaveis.$text-color;
        }

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
        }
    }

    button {
        padding: 10px;
        background-color: variaveis.$primary-color;
        color: variaveis.$corbranco;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken(variaveis.$primary-color, 10%);
        }
    }


}

@media (max-width: 900px) {

    .primary-section {
        flex-direction: column;
        padding: 20px;
        height: auto;

        .section-container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        img {
            width: 70%;
            height: auto;
            max-width: 200px;
            margin-bottom: 20px;
        }

        .text-content {
            text-align: center;
            padding: 10px;
        }
    }


    .especialistas-section .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;


        .feedback .comentarios-container {
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
        }

        .feedback .comentario {
            width: 100%;
            max-width: 500px;
            margin-bottom: 20px;
            box-sizing: border-box;


            .formulario {
                padding: 20px;

                .form-container {
                    width: 100%;
                    padding: 20px;
                }

                form {
                    gap: 15px;
                }

                button {
                    font-size: 1em;
                    padding: 15px;
                }
            }
        }
    }
}